body {
    user-select: none;
}
.btn-primary {
    color: white;
}
.my-shadow {
    box-shadow: 0 6px 52px 0 rgba(0, 0, 0, .2), 0 0 0 1px rgba(0, 0, 0, .05);
}
.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

