.login-card {
    .card-header {
        background-color: white;
        border-bottom: 2px solid $primary;
        text-align: center;
        font-size: 30px;
        font-weight: 900;
    }
}

.login-form {
    .icon-wrp {
        @include size(120px);
        background-color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: -60px auto 0 auto;
    }
}
