
.timerContainer {
    background-color: white;
    @include size(300px, 150px);
    position: fixed;
    top: 10px;
    right: 0;
    .timer {
        color: red;
        font-weight: 900;
        font-size: 70px;
    }
}
